.body {
  overflow-x: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #5971e8;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute; 
  left: 0;
  bottom: 250px; 
  right: 0; 
  top: 0; 
  margin: auto;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.dsn-image{
    width: 1200px
    
  }

  .selectpicker{
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fefefe;
    list-style: none;

  }

.card {
    position: relative;
    min-height: 400 px;
    background-color: #fefefe;  
    border: 2px solid rgb(96, 96, 246);  
    padding: 5px 10px;  
}

.button {
        position:absolute;
        bottom: 0;
}

.button2{
  align-items: end;
}

.job-description{
    text-align: justify; 
    white-space: pre; 
    overflow: hidden;  
    text-overflow: ellipsis;  
   }




    
   