.body {
  overflow-x: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #5971e8;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 



.dsn-image{
    width: 1200px
    
  }

  .selectpicker{
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fefefe;
    list-style: none;

  }

.card {
    position: relative;
    min-height: 400 px;
    background-color: #fefefe;  
    border: 0.5px solid rgb(60, 60, 232);  
    padding: 5px 10px;  
    outline-width: 3px;  
    outline-style: solid;  
    outline-color: rgb(60, 60, 232);  
    
}

.button {
        position:absolute;
        bottom: 0;
}

.button2{
  align-items: end;
}

.job-description{
    text-align: justify; }
