.body {
  overflow-x: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #5971e8;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute; 
  left: 0;
  bottom: 250px; 
  right: 0; 
  top: 0; 
  margin: auto;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.dsn-image{
    width: 1200px
    
  }

  .selectpicker{
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fefefe;
    list-style: none;

  }

.card {
    position: relative;
    min-height: 500 px;
    background-color: #fefefe;  
    border: 3px solid rgb(96, 96, 246);  
    padding: 5px 10px;  
    text-align: center;
}

.button-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 4px;
} 
.button {
        position:absolute;
        bottom: 0;
}

.button2{
  align-items: end;
}

.job-description{
    text-align: justify; 
    white-space: pre; 
    overflow: hidden;  
    text-overflow: ellipsis;  
   }


.dsn-jobs{
  font-weight: bold;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3px;

}
    
.card-bunch{
  width: auto;
  margin-right: 30px;
}

.badge{
  text-overflow: ellipsis;
  text-align: justify;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.form-label{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.text-description{
  text-align:left;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px;
  margin-bottom: 2px;
}

.detail-description{
  text-align: justify;
  margin-left: 2px;
  margin-right: 2px;
}

.detail-card{
  margin-left: 30px;
}

.seniority-description{
  text-align:left;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px;
  margin-bottom: 2px;
}

.location-description{
  text-align:left;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px;
  margin-bottom: 2px;
}

.salary-description{
  text-align:left;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px;
  margin-bottom: 2px;
}

.benefits-description{
  text-align:left;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px;
  margin-bottom: 2px;
}

.programmes-description{
  text-align:left;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px;
  margin-bottom: 2px;
}

#detail-seniority{
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px;
}

#detail-location{
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px;
}

#detail-salary{
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px;
}

#detail-benefits-vac{
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px;
  margin-bottom: 2px;
}

#detail-benefits-health{
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px; 
}

#detail-languages{
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 3px; 
}